<div class="container">
  <div class="row">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="userName">
    <p>User Name: {{ userName }}</p>
    <button
      class="btn btn-primary"
      [disabled]="userName === ''"
      (click)="clearName()"> clear</button>
  </div>
</div>